div(id=element.id).uk-modal.v-element.v-modal.v-alert-modal
  div.uk-modal-dialog
    = element.message
    div.uk-modal-footer.uk-text-right
      button( id='ok',
              type='button').uk-button.uk-button-primary
        | Ok
