div(id=element.id).uk-modal.v-element.v-modal.v-confirmation-modal
  div.uk-modal-dialog
    = element.message
    div.uk-modal-footer.uk-text-right
      button( id='no',
              type='button').uk-button
        | No
      button( id='yes',
              type='button').uk-button.uk-button-primary
        | Yes
