div(id=element.id).uk-modal.v-element.v-modal.v-settings-instructions-modal
  div.uk-modal-dialog
    | The page will refresh for the updated settings to take effect.
    div.uk-modal-footer.uk-text-right
      button( id='ok',
              type='button').uk-button.uk-button-primary
        | Ok
