div(id=element.id).uk-height-1-1.v-element.v-page.v-leases-page
  div.uk-container.uk-height-1-1.uk-padding-remove.uk-margin-remove
    nav.uk-navbar.uk-navbar-attached
      ul.uk-navbar-nav
        li
          a(id='goBack')
            i.uk-icon-chevron-left.v-left-icon
            | Back
      div.uk-navbar-flip
        ul.uk-navbar-nav
          li
            a(id='addLease')
              i.uk-icon-plus.v-left-icon
              | Add
      div.uk-navbar-content.uk-navbar-center
        | Leases
