body {
  font-family: 'Raleway', sans-serif;
}

div.v-default-page > div > div {
  width: 250px;
}

i.v-left-icon {
  padding-right: 5px;
}

div.uk-navbar-center {
  padding-top: 3px;
}

a.v-icon-button {
  padding-top: 3px;
}

table.v-translations-table > tbody > tr {
  cursor: pointer;
}
