table(id=element.id).uk-table.uk-table-striped.uk-table-condensed.uk-table-hover.uk-margin-remove.v-element.v-table.v-leases-table
  thead
    tr
      th IP Address
      th Expires
      th Device
  tbody
    each lease in leases
      tr(data-lease-id=lease.id)
        td
          = lease.address
        td
          if lease.isStatic
            span.uk-text-muted
              | (never)
          else
            = lease.toNowAsString
            br
            span.uk-text-small
              | at 
              = lease.toAsString
        td
          if lease.host
            = lease.host
            br
            span.uk-text-small
              = lease.device
          else
            = lease.device
